<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="iso-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ranking de Movimentos</title>
        <style>
            
            body {
                background-image: url('app/View/Img/Background/fundo_sistema_3.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }

        </style>
    </head>
    <body>

        <div id="conteudo">
            {{ conteudo }}
        </div>

    </body>
</html>